html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#root {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'din-condensed-bold';
    src: url("../assets/fonts/din-condensed-bold.ttf") format('truetype');
}

@font-face {
    font-family: 'volhov-italic';
    src: url("../assets/fonts/Volkhov-Italic.ttf") format('truetype');
}

@font-face {
    font-family: 'roboto-regular';
    src: url("../assets/fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'roboto-bold';
    src: url("../assets/fonts/Roboto-Bold.ttf") format('truetype');
}