html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#root {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    --colorPrimary: #0064FF;
    --colorSecondary: #FF684F;
    --colorTertiary: #FFE8D8;
}

@font-face {
    font-family: 'din-condensed-bold';
    src: url("../assets/fonts/din-condensed-bold.ttf") format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'volhov-italic';
    src: url("../assets/fonts/Volkhov-Italic.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'roboto-regular';
    src: url("../assets/fonts/Roboto-Regular.ttf") format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'roboto-bold';
    src: url("../assets/fonts/Roboto-Bold.ttf") format('truetype');
    font-weight: bold;
}

.bg-primary {
    background-color: var(--colorPrimary) !important;
}

.bg-secondary {
    background-color: var(--colorSecondary) !important;
}

.bg-tertiary {
    background-color: var(--colorTertiary) !important;
}

.color-primary {
    color: var(--colorPrimary) !important;
}

.color-secondary {
    color: var(--colorSecondary) !important;
}

.color-tertiary {
    color: var(--colorTertiary) !important;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.text {
    font-family: roboto-regular, sans-serif;
    font-size: 14px;
    color: black;
}

.header {
    font-family: din-condensed-bold, sans-serif;
    color: var(--colorPrimary);
    font-size: 76px;
}

