.react-calendar {
    border: 2px solid var(--colorprimary);
    margin: 10px;
    padding: 5px;
}

.react-calendar__navigation__label {
    font-family: din-condensed-bold;
    text-transform: uppercase;
    color: var(--colorprimary);
    margin: 0 auto;
    border: none;
    font-size: 20px;
    background-color: #ffffff;
}

.react-calendar__navigation__label:focus {
    outline: none;
    background-color: #ffffff;
}

.react-calendar__navigation {
    display: flex;
    margin: 5px;

}

.react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
    background: url("../../../assets/images/arrow_left.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 16px;
    border: none;
}

.react-calendar__navigation__arrow:focus {
    outline: none;
}

.react-calendar__navigation__arrow.react-calendar__navigation__next-button {
    background: url("../../../assets/images/arrow_right.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 16px;
    border: none;
}

.react-calendar__navigation__arrow:hover {
    cursor: pointer;
}

.react-calendar__month-view__weekdays {
    display: flex;
}


.react-calendar__month-view__weekdays__weekday {
    font-family: din-condensed-bold;
    text-transform: capitalize;
    color: var(--colorSecondary);
    margin: 0 auto;
    width: 24px;
    text-decoration: none;
    border-bottom: none;
    text-align: center;
    font-size: 20px;
}

.react-calendar__month-view__weekdays__weekday abbr {

    text-decoration: none;
}

.react-calendar__tile {
    font-family: roboto-regular;
    padding: 0;
    margin: 5px auto;
    width: 24px;
    height: 20px;
    background: none;
    border: none;
}


.react-calendar__month-view__days__day--neighboringMonth{
    background-color: #dddddd;
    color: #666666;
}

.react-calendar__month-view__days__day--neighboringMonth:hover{
    background-color: #dddddd;
    color: #666666;
}

.react-calendar__tile:focus {
    outline: none;
}

.react-calendar__tile:hover {
    background-color: #0064FF50;
    cursor: pointer;
}

.react-calendar__tile.is-selected {
    background-color: #0064FF20;
    cursor: pointer;
}



.react-calendar__tile--now {
    background: #FFE8D8;
}




.react-calendar__tile.is-highlighted {
    border-bottom: 3px solid #0064FF50;
}

.calendar-month {
    padding: 5px;
}

.calendar-week-day:focus {

    outline: none;
}

.calendar-week-day:hover {
    background: #0064FF50;
}
